{{ form_start(form) }}
    {{ form_widget(form) }}
    <div id="csv-table"></div>
    <button class="submit btn btn-block btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
